<appSettings>
  <add key="XmlDir" value="jwFiles/xml"/>
  <add key="InputExel" value="jwFiles/exel"/>
  <add key="VideoDir" value="jwFiles/videos"/>
  <add key="ThumbnailDir" value="jwFiles/thumbnails"/>
  <add key="SiteUrl" value="http://medstudy.local.com"/>
  <add key="SmtpHost" value="localhost" />
  <add key="SmtpPort" value="25" />
  <add key="AdminEmail" value="shubho.bd@gmail.com" />
  <add key="SupportEmail" value="shubho.bd@gmail.com" />
</appSettings>