<appSettings>
  <add key="ExamLengthInMinutes" value="1" />  
  <add key="AdminQuestionListSize" value="10" />
  <add key="AdminEmail" value="tutul.net@gmail.com" />
  <add key="SmtpHost" value="localhost" />
  <add key="SmtpPort" value="25" />
  <add key="QuestionOfTheWeekID" value="1101" />
</appSettings>