<appSettings>
  <add key="XmlDir" value="jwFiles/xml"/>
  <add key="InputExel" value="jwFiles/exel"/>
  <add key="VideoDir" value="jwFiles/videos"/>
  <add key="ThumbnailDir" value="jwFiles/thumbnails"/>
  <!--<add key="ThumbnailUrl" value="http://localhost:1076/Web1/jwFiles"/>
		<add key="VideoUrl" value="http://localhost:1076/Web1/jwFiles"/>-->
  <add key="SiteUrl" value="http://medstudy.local.com"/>
  <add key="SmtpHost" value="localhost" />
  <add key="SmtpPort" value="25" />
  <add key="AdminEmail" value="tutul.net@gmail.com" />
  <add key="SupportEmail" value="tutul.net@gmail.com" />
</appSettings>