/*New Styles*/
body {
    font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
    font-size:11px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	background-color:#70716D;	
}
textArea{
    font-family: Verdana,Arial,Helvetica,Sans-Serif;
	width:200px;
	color:#333333;
	font-size:11px;
	height:80px;
}
th{
    text-align:left;
}
img{
	border:none;
	padding:0px;
	margin:0px;
}
h1
{
	background-color:#EAEAEA;
	font-size:12px;
	font-weight:bold;	
	color:#3C3C3C;
	margin:15px 0px 15px 0px;
	padding:3px 5px;
}
#parentcontaniner
{
	/*background-image: url(/Images/bottom_background.jpg);
	height:693px;
	padding-top:20px;
	height:100%;
	padding-bottom:150px;*/	
}
#documentcontainer, #divDummy 
{		
	background-color:#FFFFFF;
	max-width:920px;
	width:920px;	
	margin-left:auto;
	margin-right:auto;			
}
#headercontainer
{
	height: 80px;
}  
#bodycontaniner
{
	padding:20px 20px 20px 20px;	
}
#footercontainer 
{	
	height: 30px;
	background-color:#EBEBE9;
	text-align:center;
	color:#70716D;	
	max-width:920px;
	width:920px;	
	position:absolute;
	left:50%;	
	margin-left:-460px;
}
/*Links*/
A:link
{
	color:#1A5C3B;
}
A:visited
{
	color:#1A5C3B;
}
A:hover
{
	color:#A87E0E;
}

A.headermenu:link
{
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
}
A.headermenu:visited
{
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
}
A.headermenu:hover
{
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
	text-decoration:underline;
}
/*End of Links*/

.TextBoxCommon{	
	width:200px;	
	color:#333333;
	font-size:11px;
	padding:0px; 
	margin:0px;
}
.ButtonCommon {
	background-color:#499779;/*#C68F3C;*/
	border-style:outset;
	border-width:1px;
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
	height: 22px;
	cursor:pointer;	
}

.DropDownListCommon{
	width:auto;	
	color:#333333;
	font-size:11px;
	padding:0px;
	margin:0px;
}
.CommonMessage
{
    font-weight:bold;
}
.ErrorMessage
{
   /*font-weight:bold;*/
   color:#FF0000;      
}
.requiredfiled
{
	color:#FF0000;
}
.MessageBox
{
    clear:both;    
	height:auto;
    text-align:left;    
    font-weight:bold;
    color:#0F7D0A; 	
}
.ErrorMessageBox
{
    clear:both;    
	height:auto;	
    text-align:left;    
    font-weight:bold;	
    color:#FF0000;
}
/*End of New Styles*/
.fl
{
	float:left;
}
.fr
{
	float:right;
}
.clearBoth
{
	clear:both;
}
.chapterDivWithExpandCollapse
{
	padding-left:10px;
	float:left;
	cursor:pointer;
}
.chapterDivWithoutExpandCollapse
{
	padding-left:10px;
	display:none;
	cursor:pointer;
}
.expandCollapseDiv
{
	float:left;
	width:10px;
	cursor:pointer;
}
.singleItem
{
	padding-left:20px;
	cursor:pointer;
}

.OddRowListing {
	/*color: #1A5C3B;*/
	font-size: 11px;
	background-color: #E7F7F2;
	height: 21px;
	padding: 10px;
}
.OddRowListing:hover {
	background-color: #94E2BA;
}
.EvenRowListing {
	/*color: #1A5C3B;*/
	font-size: 11px;
	background-color: #F4FBF9;
	height: 21px;
	padding: 10px;
}
.EvenRowListing:hover {
	background-color: #94E2BA;
}