.blockingContainer 
{         
    background-color:#999999;	        
    filter:alpha(opacity=30);
    opacity:0.5;      
}   
.modalpopupshadow
{
	position:absolute;
	z-index:19;
	background-color:#3C3C3C;	
    filter:alpha(opacity=50);
    opacity:0.5;      
}
 
/*PlanningPrep Lightbox Begins*/
.PopupContainer {
	background-color:#FFFFFF;
	width:355px;	
	position: absolute;        
    color: #333;
    z-index:20; 
}
.PopupHeaderMiddle {	
	background-color:#FFFFFF;	
	min-width: 325px;	
	height: 22px;
	padding: 6px 15px 0px 15px;	
	color:#499779;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;	
}
.PopupBody {	
	background-color:#FFFFFF;	
	min-width: 305px;	
	padding: 10px 25px 5px 25px;	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 20px;
	border-top:#08F69A solid 1px;
}
.PopupButtonContainer 
{	
	text-align: right;
	padding:10px 15px 20px 0px;	
}
/*Yellow Lightbox Ends*/