<appSettings>
  <add key="ExamLengthInMinutes" value="0.5" />
  <add key="RememberProgress" value="1" />
  <add key="AdminQuestionListSize" value="10" />
  <add key="AdminEmail" value="tutul.net@gmail.com" />
  <add key="SmtpHost" value="localhost" />
  <add key="SmtpPort" value="25" />
  <add key="QuestionOfTheWeekID" value="1101" />
  <add key="ContentIDOfFAQ" value="100" />
  <add key="ContentIDOfAboutUs" value="200" />
  <add key="FaceBookAPIKey" value="53fe8cd5c9b0aeeb22291854491222ac" />
  <add key="FaceBookSecretPhrase" value="9c4aa7495496575f8c3bed795a52ed15" />  
</appSettings>